<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Graphics</key>
        <dict>
            <key>1</key>
            <string>/Users/wmodes/dev/bearcreek/Bear Creek v2/Bear Creek v2.materials/Cover.jpg</string>
        </dict>
    </dict>
</plist>
